<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='icon/favicon.ico')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title></title>
  </head>
  <body>
    <div class='bedolagi'>
      <div class='caption'>Добавить товар</div>
      <div class="input-group mb-3">
        <span class="input-group-text" >Название товара</span>
        <input type="text" class="form-control" id="naimenovanie" placeholder="Введите название" aria-label="Username" aria-describedby="basic-addon1">
        <div class="invalid-feedback">
          Поле не должно быть пустым
        </div>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Категория товара</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Выберите категорию</option>
          <option value="1">А</option>
          <option value="2">Б</option>
          <option value="3">В</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" >Стоимость товара</span>
        <input type="text" class="form-control" id="cena" placeholder="Введите цену" aria-label="Username" aria-describedby="basic-addon1">
        <div class="invalid-feedback">
          Поле не должно быть пустым
        </div>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" >Описание товара</span>
        <input type="text" class="form-control" id="login" placeholder="Введите описание" aria-label="Username" aria-describedby="basic-addon1">
        <div class="invalid-feedback">
          Поле не должно быть пустым
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
      <div class='my_btn'>
        <button type="button" class="btn btn-light" id='login_btn'>Добавить</button>
        <a class='link_' href='/shopik'><button type="button" class="btn btn-light">Назад</button></a>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>
</html>